<nm-backdrop>
    <nm-backdrop-back-layer>
        <nm-backdrop-back-layer-toolbar>
            <mat-toolbar color="primary">
                <button mat-icon-button (click)="revealBackdrop()" *ngIf="!isBackdropRevealed">
                    <mat-icon>menu</mat-icon>
                </button>
                <button mat-icon-button (click)="concealBackdrop()" *ngIf="isBackdropRevealed">
                    <mat-icon>clear</mat-icon> 
                </button>
                <span>Cloud Drive</span>
            </mat-toolbar>
        </nm-backdrop-back-layer-toolbar>

        <nm-backdrop-back-layer-content>
            <mat-list role="list">
                <mat-list-item>                
                    <mat-icon mat-list-icon>settings</mat-icon>
                    <h4 mat-line>Settings</h4>                
                </mat-list-item>
                
                <mat-list-item>
                    <mat-icon mat-list-icon>help</mat-icon>
                    <h4 mat-line>About</h4>
                </mat-list-item>
        
                <mat-list-item>
                    <mat-icon mat-list-icon>exit_to_app</mat-icon>
                    <h4 mat-line>Logout</h4>
                </mat-list-item>
            </mat-list>
        </nm-backdrop-back-layer-content>
    </nm-backdrop-back-layer>

    <nm-backdrop-front-layer (click)="concealBackdrop()">
        <nm-backdrop-front-layer-subtitle>
            Sponge Bob's drive
        </nm-backdrop-front-layer-subtitle>
        <nm-backdrop-front-layer-content>
            <mat-list>
            <h3 mat-subheader>Folders</h3>
            <mat-list-item *ngFor="let folder of folders">
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line>{{folder.name}}</h4>
                <p mat-line> {{folder.updated | date}} </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Notes</h3>
            <mat-list-item *ngFor="let note of notes">
                <mat-icon mat-list-icon>note</mat-icon>
                <h4 mat-line>{{note.name}}</h4>
                <p mat-line> {{note.updated | date}} </p>
            </mat-list-item>
            </mat-list>
        </nm-backdrop-front-layer-content>
    </nm-backdrop-front-layer>
</nm-backdrop>