<nm-backdrop>
    <nm-backdrop-back-layer (click)="revealBackdrop()">
        <nm-backdrop-back-layer-toolbar>
            <mat-toolbar color="primary">Back Layer</mat-toolbar>
        </nm-backdrop-back-layer-toolbar>

        <nm-backdrop-back-layer-content>
            <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
            </mat-list>
        </nm-backdrop-back-layer-content>
    </nm-backdrop-back-layer>

    <nm-backdrop-front-layer (click)="concealBackdrop()">
        <nm-backdrop-front-layer-subtitle>
            Subtitle
        </nm-backdrop-front-layer-subtitle>
        <div>
            CONTENT!
        </div>
    </nm-backdrop-front-layer>
</nm-backdrop>