$back-layer-min-height: 56px;

$front-layer-min-height: 42px; // TODO adjust when using front-layer-subtitle-component
$font-layer-content-top-margin: 12px;

$default-margin: 16px;

:host {
    width: 100%;
}

:host ::ng-deep nm-backdrop-back-layer{
    background-color: rgb(48,58,166); // TODO MAKE BINDABLE
    color: white;
    display: flex;
    flex-direction: column;
    min-height: $back-layer-min-height;
    padding-bottom: $default-margin;
    width: 100%;

    nm-backdrop-back-layer-content {
        overflow-y: auto; // TODO scroll on content not working
    }
}

:host ::ng-deep nm-backdrop-front-layer{
    background-color: white;  // TODO MAKE BINDABLE
    border-top-left-radius: $default-margin;
    border-top-right-radius: $default-margin;
    bottom: 0;
    display: flex;
    position: absolute;
    top: $back-layer-min-height;
    width: 100%;

    .nm-backdrop-front-layer-content{
        margin: $font-layer-content-top-margin $default-margin;
        width: 100%;
    }
}